apiVersion: v1
kind: Service
metadata:
  name: {{ include "mysql.fullname" . }}
spec:
  type: ClusterIP
  ports:
    - name: mysql
      port: {{ .Values.service.port }}
      targetPort: mysql
  selector:
    app.kubernetes.io/name: {{ include "mysql.fullname" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
